[submodule "helgi"]
	path = helgi
	url = git@github.com:gitautas/veil-helgi.git
	branch = main
[submodule "ymir"]
	path = ymir
	url = git@github.com:gitautas/veil-ymir.git
	branch = main
[submodule "sigrun"]
	path = sigrun
	url = git@github.com:gitautas/veil-sigrun.git
	branch = main
[submodule "kara"]
	path = kara
	url = git@github.com:gitautas/veil-kara.git
	branch = main

