[submodule "veil-helgi"]
	path = helgi
	url = git@github.com:gitautas/veil-helgi.git
	branch = main
[submodule "veil-ymir"]
	path = ymir
	url = git@github.com:gitautas/veil-ymir.git
	branch = main
[submodule "veil-sigrun"]
	path = sigrun
	url = git@github.com:gitautas/veil-sigrun.git
	branch = main
[submodule "veil-kara"]
	path = kara
	url = git@github.com:gitautas/veil-kara.git
	branch = main
